/BaseGameInstance.jak
/BaseGameInstance.java
/GameInstance.jak
/GameInstance.java
/GameInstanceInfo.jak
/GameInstanceInfo.java
/GameService.jak
/GameService.java
/GameServiceImpl.jak
/GameServiceImpl.java
/GameState.jak
/GameState.java
